<header>
  <nav>
    <a href="{{ site.baseurl }}/">Home</a>
    <a href="{{ site.baseurl }}/projects/index.html">Projects</a>
    <a href="{{ site.baseurl }}/about/index.html">About</a>    
  </nav>
  <span class="social">
    <a href="https://github.com/oafridi">
      <img src="{{ site.baseurl }}/imgs/header/github.png" alt="github">
    </a>
    <a href="http://www.linkedin.com/pub/osman-afridi/">
      <img src="{{ site.baseurl }}/imgs/header/linkedin_circle.png" alt="linkedin">
    </a>
    <a href="https://plus.google.com/111464047303377493656/about">
      <img src="{{ site.baseurl }}/imgs/header/google_circle.png" alt="google">
    </a>
    <a href="http://facebook.com/osman.afridi">
      <img src="{{ site.baseurl }}/imgs/header/facebook_circle-128.png" alt="facebook">
    </a>
    <a href="https://bitbucket.org/sircommitsalot/">
      <img src="{{ site.baseurl }}/imgs/header/bitbucket_circle.png" alt="bitbucket">
    </a>
  </span>
</header>
