header {
    overflow: auto;
}

footer {
    text-align: center;
    font-size: 1em;
    color: #aaa;
    font-weight: 500;
}

nav {
    float: left;
    width: 40%;
    margin: 0 1% 0% 1%;
    display: inline;
    padding: 1% 1% 0% 7%;    
    a { 
        font-size: 2vw;       
        color: black;
        padding: 2%;
        &:visited {
            color: black;
        }
        &:hover {
            color: grey;
        }        
    }
}

.social {
    text-align: center;
    margin: 1% 1% 1% 1%;
    float: right;
    width: 45%;
    display: inline;
    padding: 0 1% 0 1%;
    a {
        padding: 3%;
        img {
            max-width: 10%;
            -webkit-transition: all 0.5s ease;
            -moz-transition: all 0.5s ease;
            -o-transition: all 0.5s ease;
            -ms-transition: all 0.5s ease;
            transition: all 0.5s ease;
            &:hover {
                -webkit-transform: rotate(-10deg);
                -moz-transform: rotate(-10deg);
                -o-transform: rotate(-10deg);
                -ms-transform: rotate(-10deg);
                transform: rotate(-10deg);
            }
        }
    }
}

.main {
    overflow: auto;
    font-size: 1.2em;
}

.about {
    float: left;
    width: 40%;
    margin: 1% 1% 1% 4%;
    padding: 1% 1% 1% 5%;
}

.profile {
    // text-align: center;
    // background-image: url("/imgs/profile.png");
    height: 173px;
    width: 160px;
    position: relative;
    top: 150px;
    right: 150px;
    float: right;        
}

#email {
    position: relative;
    left:50px;
    top: 170px;
    color: #aaa;
    &:hover {
        color: blue;
    } 
}
