@font-face {
  font-family: "Kimberley";
  src: url(../fonts/YanoneKaffeesatz-Regular.ttf) format("truetype");
}

body {
  /*background-image: url(../imgs/highlight-bg.jpg);*/
  width: 80%;
  margin: 0 auto;
  /*font-family: "Kimberley";*/
  background: #e7e7e7 url(../images/body-bg.png) 0 0 repeat;
  font-family: 'Helvetica Neue', Helvetica, Arial, serif;
  line-height: 1.5;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
  color: #6d6d6d;
  overflow: auto;
  font-weight: 300;
}

.social a img {
  max-width: 10%;
}

header {
  overflow: auto;
  font-size: 2.8em;
  font-family: "Kimberley";
}

h3 {
   text-decoration: none;
   color: #d5000d;
}

footer {
  text-align: center;
  font-size: 1em;
  color: #aaa;
  font-weight: 500;
}

.main {
  overflow: auto;
  font-size: 1.2em;  
}

.about, header, footer, .profile {

}

.about {
  float: left;
  width: 40%;
  margin: 1% 1% 1% 4%;
  padding: 1% 1% 1% 5%;

}

.profile {
  text-align: center;
  float: right;
  width: 40%;
  margin: 1% 4% 1% 0;
  padding: 5% 4% 1% 1%;
}

a {
  text-decoration: none;
}

a img {
  -webkit-transition: all 0.5s ease;
     -moz-transition: all 0.5s ease;
       -o-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
          transition: all 0.5s ease;
}

a img:hover {
  -webkit-transform: rotate(-10deg);
     -moz-transform: rotate(-10deg);
       -o-transform: rotate(-10deg);
      -ms-transform: rotate(-10deg);
          transform: rotate(-10deg);
}

a:hover {
  color: black;
}

img:hover {
  color: black;
}

nav {
  float: left;
  width: 40%;  
  margin: 1% 1% 0% 1%;
  display: inline;
  padding: 1% 1% 0% 7%;
}

nav a {
  color: #03c;
    -webkit-transition: 0.5s;
     -moz-transition: 0.5s;
     -o-transition: 0.5s;
     -ms-transition: 0.5s;
     transition: 0.5s;
}

nav a:hover {
  color: transparent;
    text-shadow: 0 0 5px #03c;
}

nav a, .social a {
  padding: 3%;
}

.social {
  text-align: center;
  margin: 1% 1% 1% 1%;
  float: right;
  width: 45%;
  display: inline;
  padding: 1% 1% 1% 1%;
}