@font-face {
  font-family: "Kimberley";
  src: url(../fonts/YanoneKaffeesatz-Regular.ttf) format("truetype");
}

body {
  width: 90%;
  margin: 0 auto;
  font-family: "Kimberley";
}

.social a img {
  max-width: 10%;
}

header {
  overflow: auto;
  font-size: 2em;
}

h3 {
   text-decoration: underline;
}

footer {
  text-align: center;
  font-size: 1.5em;
}

.main {
  overflow: auto;
  font-size: 1.5em;  
}

.about, header, footer, .profile {

}

.about {
  float: left;
 
  width: 40%;
  margin: 1% 1% 1% 4%;
  padding: 1% 1% 1% 5%;

}

.profile {
  text-align: center;
  float: right;
  width: 40%;
  margin: 1% 4% 1% 0;
  padding: 5% 4% 1% 1%;
}

a {
  text-decoration: none;
}

a:hover {
  color: black;
}

img:hover {
  color: black;
}

nav {

  /*text-align: center;*/

  float: left;
  width: 40%;  
  margin: 1% 1% 0% 1%;
  display: inline;
  padding: 1% 1% 0% 7%;
}

nav a, .social a {
  padding: 3%;
}

.social {
  text-align: center;
  margin: 1% 1% 1% 1%;
  float: right;
  width: 45%;
  display: inline;
  padding: 1% 1% 1% 1%;
}